# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=375e0182-b3aa-4277-8165-cbc398ce7113

    # Set to true to disable all reporting
    B:opt-out=false
}


